SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=
OCR_SERVICE_URL=http://192.168.1.69:5000
OCR_ENGINE=tesseract
POLL_INTERVAL_SECONDS=10

CLIP_MODEL_ID=openai/clip-vit-base-patch32
CLIP_MEMORY=4Gi
CLIP_PORT=3000
CLIP_CORS_ORIGINS=http://192.168.1.69:3131
# CLIP_FORCE_DEVICE=cpu
CLIP_CATEGORIES=person,animal,vehicle,building,food,landscape,document,artwork
CLIP_CATEGORY_TEMPLATE=a photo of a {}
